<script src="https://cdn.jsdelivr.net/npm/@msgpack/msgpack@3.1.2/dist.umd/msgpack.min.js"></script>
<script src="/js/lib/consts.js"></script>
<script src="/js/lib/data.js"></script>
<script src="/js/lib/tags.js"></script>
<script src="/js/lib/idb.js"></script>
<script src="/js/lib/cache.js"></script>
<script src="/js/lib/sections.js"></script>
<script src="/js/lib/progress.js"></script>
<script src="/js/lib/sidebar.js"></script>
<script src="/js/lib/theme.js"></script>
<script src="/js/lib/workers.js"></script>
<script src="/js/lib/search.js"></script>
<script src="/js/lib/history.js"></script>
<script src="/js/lib/slash-menu.js"></script>
<script src="/js/lib/preview.js"></script>
<script src="/js/app.js"></script>
