services:
  skarabe:
    build: .
    ports:
      - "8080:80"
    restart: unless-stopped
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    labels:
      - "com.skarabe.description=Skarabe Knowledge Base"
